<div [hidden]="user || isLoading">

    <button class="btn btn-dark my-4" routerLink="/home">
        <fa-icon [icon]="faArrowCircleLeft"></fa-icon> Go back
    </button>

    <p class="display-4 pt-4">{{ isLoginMode ? "Log In with Your Phone Number :" : "Reset Password :" }} </p>

    <form #f="ngForm" (ngSubmit)="sendLoginCode()" [ngClass]="{'d-none' : isFormdisabled }">

        <div class="form-group">
            <label for="userPhone">Enter your phone number:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">+91</span>
                </div>
                <input type="text" id="userPhone" class="form-control" #userPhone="ngModel" ngModel name="userPhone"
                    required minlength="10" maxlength="10" />
            </div>

            <div class="alert alert-danger" *ngIf="userPhone.touched && userPhone.invalid">
                <div *ngIf="getIfErrorExists(userPhone.errors,'required')">Phone number is required.</div>
                <div *ngIf="getIfErrorExists(userPhone.errors,'minlength_maxlength')">Phone number should be 10 digits.
                </div>
            </div>

        </div>

        <div class="form-group" *ngIf="isLoginMode">
            <label for="userPassword">Enter password:</label>
            <input type="text" id="userPassword" class="form-control" #userPassword="ngModel" ngModel
                name="userPassword" required minlength="8" />

            <div class="alert alert-danger" *ngIf="userPassword.touched && userPassword.invalid">
                <div *ngIf="getIfErrorExists(userPassword.errors,'required')">password is required.</div>
                <div *ngIf="getIfErrorExists(userPassword.errors,'minlength')">password should be minimum 8 characters.
                </div>
            </div>

        </div>

        <div id="recaptcha-container"></div>

        <button class="btn btn-dark mt-3 w-100" type="submit" [disabled]="isLoginMode ? !f.valid : !userPhone.valid">{{
            isLoginMode ? "Login" : "Send OTP" }}</button>

        <div class="d-flex justify-content-end">
            <button class="btn btn-link mt-3" type="button" (click)="isLoginMode=!isLoginMode">{{ isLoginMode ? "Forgot
                password ?" : "Login ?" }}</button>
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-link mt-3" type="button" [routerLink]="['/create-account']"
                queryParamsHandling="preserve">Create new Account ?</button>
        </div>

    </form>

</div>

<div *ngIf="windowRef.confirmationResult">

    <label for="code">Enter your Verification Code Here</label><br>
    <input type="text" name="code" [(ngModel)]="verificationCode">

    <div [hidden]="isLoginMode" class="my-3">

        <label for="newPassword">Enter new password:</label>
        <input type="text" id="newPassword" class="form-control" [(ngModel)]="newPassword" required minlength="8" />

    </div>

    <button class="my-3" (click)="verifyCode()">{{isLoginMode ? "verify" : "Reset" }}</button>
</div>

<div *ngIf="isLoading" class="myspinner">

    <app-loading-spinner></app-loading-spinner>

</div>